.recipes-index-pantry-header {
    text-decoration: underline;
    color: #222;
    cursor: pointer;
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: .01em;
    line-height: 1.3;
    margin: 4% 150px 4% 150px;
}

.recipes-index-pantry-tiles {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 20px;
    margin: 0% 150px 0% 150px;
}
