.footer-topper {
  background-color: #f6f6f4;;
  border-top: 1px solid #ccc;
  padding-top: 50px;
  margin-top: 50px;
}

.footer-wrapper {
  background-color: #000;
  color: #fff;
  // margin-top: 50px;
  position: relative;
  height: 100%;
  padding: 0 150px 0 150px;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-disclaimer {
  width: 60%;
}

.footer-header {
  font-family: nyt-franklin,Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: .02em;
  line-height: 1.45;
  padding-bottom: 10px;
}

.footer-body {
  font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
  font-weight: 200;
  font-size: 0.95rem;
  letter-spacing: .01em;
  line-height: 1.45;
  color:#fff;
  text-decoration: none;

  &.footer-link {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 0.95rem;
    letter-spacing: .02em;
    line-height: 1.45;
    cursor: pointer;
    padding-bottom: 14px;

    &:hover {
      text-decoration: underline;
      color: #7a7a7a;
    }
  }
}

.emphasis {
  font-style: italic;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.footer-link-grouping {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
