@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

.edit-note-modal-window-container {
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 20;
    animation: .3s ease-out;
    opacity: 1;
}

.edit-note-modal-content-box {
    background-color: #fff;
    border-radius: 4px;
    position: fixed;
    width: 640px;
    height: 475px;
    transform: translate(-50%, -50%);
    top: 50.5%;
    left: 50%;
}

.edit-note-modal-close-button {
    position: absolute;
    top: 3%;
    left: 98%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.edit-note-modal-form-container {
    width: 87%;
    padding: 50px 40px 50px 40px;
}

.edit-note-form-button-container {
    margin: 0px;
    width: 100%;
    padding-top: 16px;
}

.edit-note-form-field-label {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 15px;
}

.edit-note-form-header {
    text-align: center;
    margin: 0px;
    padding-bottom: 25px;
    font-family: nyt-cheltenham, georgia, "times new roman", serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: rgb(34, 34, 34);
}

.edit-note-form-input-box {
    width: 100%;
    height: 2.75rem;
    padding: 0px 0.75rem;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    border: 0px;
    appearance: none;
    opacity: 1;
    box-shadow: none;
    transition: box-shadow 200ms linear 0s;
    line-height: 24px;

    &.edit-body {
        height: 6.5rem;
        padding: 12px 0.75rem;
        overflow-y: scroll;
    }
}

.edit-note-form-field-label-inner-container {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in 0s;
    outline: none;
    opacity: 1;
}

.edit-note-form-field-label-outer-container {
    margin: 0px;
    padding: 0.25em 0px 0px;
    position: relative;
}

.edit-note-form-button {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 44px;
    line-height: 2.375em;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border: 0.0625em solid rgb(227, 61, 38);
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: none;
    color: rgb(255, 255, 255);
    background-color: rgb(227, 61, 38);
    transition: all 0.15s ease-in 0s;

    &:hover {
        background-color: #D03A27;
        border-color: #D03A27;
    }
}
