.recipe-show-hero-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 100px;
    // margin-right: 100px;
    z-index: 0;
    padding-top: 120px;
}

.recipe-show-hero-content {
    width: 40%;
}

.recipe-show-hero-name {
    font-size: 2.9rem;
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-weight: 200;
    letter-spacing: .01em;
    line-height: 1.1;
    margin-top: 4%;
    margin-bottom: 4%;
    cursor: pointer;
    text-decoration: none;
}

.recipe-show-hero-image {
    width: 60%;
}

.recipe-show-hero-image-photo {
    max-width: 85%;
}

.recipe-show-hero-author {
    line-height: 1.2;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: .02em;
    margin-bottom: 4%;
}
