@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

.show-grid-container {
    display: grid;
    padding-top: 120px;
    grid-template-columns: [page-start] 100px repeat(7,[col-start] minmax(0,1fr) [col-end] 40px) [col-start] minmax(0,1fr) [col-end] 100px [page-end];
    grid-template-rows: auto auto 1fr;

}

.show-content {
    display: grid;
    grid-template-columns: [page-start] 100px repeat(7,[col-start] minmax(0,1fr) [col-end] 40px) [col-start] minmax(0,1fr) [col-end] 100px [page-end];
    grid-template-rows: auto auto 1fr;
    grid-column: 1/-1;
}

.show-intro-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 60px);
    padding-top: 30px;
    grid-column: col-start 1/col-end 3;
}

.show-recipe-name-author {
    margin-top: 0;
}

.show-recipe-name {
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-weight: 200;
    font-size: 2.6rem;
    letter-spacing: .01em;
    line-height: 1.1;
}

.show-recipe-author {
    line-height: 1.2;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: .02em;
    padding-top: 15px;
}

.show-intro-image-wrapper {
    grid-column: col-start 4/col-end 8;
}

.show-intro-recipe-image {
    margin: 30px 0 20px;
}

.show-intro-recipe-photo {
    position: relative;
    aspect-ratio: 3/2;
}

.show-intro-actual-photo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    color: transparent;
}

.show-recipe-stats-wrapper {
    border-bottom: 0;
    padding-bottom: 0;
    grid-column: col-start 1/col-end 3;
    padding-top: 5px;
}

.show-recipe-stats-table {
    display: grid;
    grid-template-columns: 104px 1fr;
    row-gap: 16px;
}

.show-recipe-stats-table-row-label {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-stats-table-row-data-cook-time {
    margin-left: 5px;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-stats-table-row-data-rating {
    align-items: center;
    column-gap: 10px;
    display: flex;
    margin-left: 5px;
}

.show-recipe-stats-table-row-data-avg-rating {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-stats-table-row-data-avg-rating-stars {
    column-gap: 5px;
    display: inline-flex;
    padding-bottom: 2px;
}

.show-recipe-stats-table-row-data-rating-star {
    height: 15px;
    width: 15px;
}

.show-recipe-stats-table-row-data-num-ratings {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-stats-table-row-data-num-notes {
    margin-left: 5px;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-stats-table-row-data-link-notes {
    text-decoration: underline;
    color: #222;
    display: inline-block;
}

.show-recipe-stats-table-row-jump-icon {
    vertical-align: middle;
    margin-left: 3px;
}

.show-recipe-blurb-wrapper {
    grid-column: col-start 4/col-end 8;
    grid-row-start: span 2;
}

.show-recipe-blurb-inner-wrapper {
    max-height: 100%;
}

.show-recipe-blurb-text-container {
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .01em;
    line-height: 1.5;

    .show-recipe-blurb-text {
        margin: 0;
    }
}

.show-recipe-tools-wrapper {
    grid-column: col-start 1/col-end 3;
    grid-row-start: 3;
    display: flex;
    margin: 40px 0;
}

.show-recipe-tools-button-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.show-recipe-tools-save-button {
    background-color: #df321b;
    border: 1px solid #df321b;
    color: #fff;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    transition: background-color .2s ease-out;
    border-radius: 20px;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 1.0rem;
    line-height: 1;
    padding: 9px 16px;

    &:hover {
        background-color: #D03A27;
        border-color: #D03A27;
    }
}
.show-recipe-tools-save-button-text {
    padding-left: 5px;
}

.show-recipe-ingredients-wrapper {
    grid-column: col-start 1/col-end 3;
}

.show-recipe-ingredients-inner-wrapper {
    margin-bottom: 60px;
}

.show-recipe-ingredients-header {
    border-top: 5px solid #222;
    font-family: 'Bevan', serif;
    font-weight: 00;
    font-size: 1.1rem;
    letter-spacing: .08em;
    line-height: 1.45;
    text-transform: uppercase;
    padding-top: 4px;
}

.show-recipe-ingredients-yield-wrapper {
    color: #222;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
    margin: 32px 0 24px;
    display: flex;
    column-gap: 4px;
}

.show-recipe-ingredients-yield {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: .02em;
    line-height: 1.45;

    &.yield-data{
        font-weight: 500;
    }
}

.show-recipe-ingredient-item {
    font-size: 1.7rem;
    padding-bottom: 16px;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-ingredients-item {
    font-size: 1.0rem;
    padding-bottom: 16px;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.45;
}

.show-recipe-prep-wrapper {
    grid-column: col-start 4/col-end 8;
}
