
.modal-window-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 20;
    animation: .3s ease-out;
    opacity: 1;

}

.modal-content-box {
    background-color: #fff;
    border-radius: 4px;
    position: fixed;
    width: 900px;
    height: 580px;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.modal-form-container {
    width: 34%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
}

.modal-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px 0px 0px 4px;
}




/*
.modal-photo-container {
    width: 139%;
    border-radius: 4px;

} */

/* .modal-photo {
    object-fit: contain;
    position: absolute;
    height: 100%;
    max-width: 100%;
    inset: 0px;
    color: transparent;
} */
/*
.modal-form-container {
    background: salmon;
} */




/* .modal-window-content {
    margin-top: 114px;
    height: unset;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 1;
    position: relative;
    transition: opacity .3s;
    width: 100%;
}

.modal-content-container {
    background: #fff;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    /* padding: 2rem; */
    /* position: relative;
}

.modal-picture-container {
    width: 900px;
    /* max-height: 700px; */
    /* height: 600px;
    bottom: auto; */
    /* margin-left: -50%; */
    /* transform: translate(50%);
    display: block; */
    /* min-height: 550px; */
    /* position: relative; */
/* } */

/* .modal-content-container-body {
    height: auto;
    overflow-y: hidden;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
}

.modal-close-button {
    right: 1%;
    position: absolute;
    top: 2px;
    z-index: 10;
    color: #717171;
    background: none;
    border-radius: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.modal-photo-wrapper {
    background: url(https://cooking.nytimes.com/assets/regiwall-souffle-tall.jpg) no-repeat 40%/cover;
    display: block; */
    /* object-fit: contain; */
    /* float: left;
    height: 748px; */
    /* position: absolute; */
    /* width: 521px;
    top: -24px;
    left: -24px; */
    /* position: relative; */
/* }


.modal-photo-blurb {
    color: #fff;
    background: none;
    display: block;
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 28px;
    padding: 35px 40px;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 52%;
    transform: translate(-50%, -50%);
}


.modal-right-container { */
    /* background: url(https://cooking.nytimes.com/assets/regiwall-souffle-tall.jpg) no-repeat 40%/cover;
    display: block;
    float: right;
    height: 748px;
    position: absolute;
    width: 521px;
    top: -24px;
    left: -24px;
    position: relative; */
    /* float: right;
    width: 380px;
    margin: 0 auto;
    background: orange;

}

.modal-right-inner-container {
    height: 100%;
    padding: 25px 34px 0;
    text-align: center;

} */

/* .modal-form-container {
    border: 0px;
    height: 600px;
    width: 100%;
    display: block;
} */



.session-form-button {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 44px;
    line-height: 2.375em;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: 0.0625em solid rgb(227, 61, 38);
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: none;
    color: rgb(255, 255, 255);
    background-color: rgb(227, 61, 38);
    transition: all 0.15s ease-in 0s;
}


.session-form-button-container {
    margin: 0px;
    width: 100%;
    padding-top: 16px;
}

.session-form-field-label {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    display: block;
    font-family: 'nyt-franklin', arial, helvetica, sans-serif;
}

.session-form-header {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: nyt-cheltenham, georgia, "times new roman", serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: rgb(34, 34, 34);
}

.session-form-input-box {
    width: 100%;
    height: 2.75rem;
    padding: 0px 0.75rem;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    border: 0px;
    appearance: none;
    opacity: 1;
    box-shadow: none;
    transition: box-shadow 200ms linear 0s;
}

.session-form-field-label-inner-container {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in 0s;
    outline: none;
    opacity: 1;
}

.session-form-field-label-outer-container {
    margin: 0px;
    padding: 0.25em 0px 0px;
    position: relative;
}
