@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

.modal-window-container {
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 20;
    animation: .3s ease-out;
    opacity: 1;
}

.modal-content-box {
    background-color: #fff;
    border-radius: 4px;
    position: fixed;
    width: 900px;
    height: 580px;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.modal-close-button {
    position: absolute;
    top: 3%;
    left: 98%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.modal-form-container {
    width: 34%;
    padding: 60px 40px 50px 40px;
}

.modal-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px 0px 0px 4px;
}

.modal-photo-text {
    color: #fff;
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 28px;
    padding: 35px 40px;
    text-align: center;
    width: 48%;
    position: absolute;
    top: 15%;
    left: 29%;
    transform: translate(-50%, -50%);
}

.modal-error-message {
 list-style: none;
 font-family: 'Libre Franklin', sans-serif;
 color: rgb(227, 61, 38);
 font-size: 14px;
 font-weight: 600;
 line-height: 1.1rem;
}

.session-form-button-container {
    margin: 0px;
    width: 100%;
    padding-top: 16px;
}

.session-form-field-label {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 15px;
}

.session-form-header {
    text-align: center;
    margin: 0px;
    padding-bottom: 25px;
    font-family: nyt-cheltenham, georgia, "times new roman", serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: rgb(34, 34, 34);
}

.session-form-input-box {
    width: 100%;
    height: 2.75rem;
    padding: 0px 0.75rem;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    border: 0px;
    appearance: none;
    opacity: 1;
    box-shadow: none;
    transition: box-shadow 200ms linear 0s;
}

.session-form-field-label-inner-container {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in 0s;
    outline: none;
    opacity: 1;
}

.session-form-field-label-outer-container {
    margin: 0px;
    padding: 0.25em 0px 0px;
    position: relative;
}

.session-form-button {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 44px;
    line-height: 2.375em;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border: 0.0625em solid rgb(227, 61, 38);
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: none;
    color: rgb(255, 255, 255);
    background-color: rgb(227, 61, 38);
    transition: all 0.15s ease-in 0s;

    &:hover {
        background-color: #D03A27;
        border-color: #D03A27;
    }

    &.demo-user-button {
        background-color: #fff;
        color: black;
        border-color: #ccc;

        &:hover {
            background-color: #ccc
        }
    }
}

.session-form-separator {
    font-size: 14px;
    margin: 12px 0px 0px;
    line-height: 21px;
    font-weight: 500;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;

    &:before {
        left: 0px;
        margin-right: 0.5em;
        position: absolute;
        display: inline-block;
        content: "";
        top: 50%;
        width: calc(50% - 1em);
        height: 0px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }

    &:after {
        right: 0px;
        margin-left: 0.5em;
        position: absolute;
        display: inline-block;
        content: "";
        top: 50%;
        width: calc(50% - 1em);
        height: 0px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
}

.session-form-separator-text {
    display: inline-block;
    height: 14px;
}
