

.navbar-elements-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    height: 114px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    color: #222;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
}

.navbar-list-items-wrapper {
    display: flex;
}

.navbar-session-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.navbar-session-buttons {
    font-weight: 600;
    display: flex;
    margin-right: 15px;
    letter-spacing: .02em;
}

.navbar-button-recipebox {
    font-weight: 600;
    display: flex;
    margin-right: 15px;
    letter-spacing: .02em;
}

.navbar-logo-home {
    color: #df321b;
    transform: none;
    width: 168px;
    height: 31px;
    box-sizing: border-box;
    overflow: hidden;
}
